In [1]:
print("hello friends")

'''multi line
comments are written like this'''

hello friends

'multi line\ncomments are written like this'

In [2]:
#variables in python

In [3]:
a=10;
b=90.34;
c='Devanshi'
print(a)
print("value of b ",b)
print("my name is ",c)

10
value of b  90.34
my name is  Devanshi

In [4]:
#assigning multiple values

a,b,c=10,90.45,'Devanshi'
print(a)
print("value of b",b)
print("value of c",c)

10
value of b 90.45
value of c Devanshi

In [5]:
#assigning same value to multiple variables

a=b=c=10
print("value of a:",a)
print("value of b:",b)
print("value of c:",c)

value of a: 10
value of b: 10
value of c: 10

In [6]:
#datatypes in python

In [7]:
#number datatype

a1=23
print(a1, "is typeof" ,type(a1))

23 is typeof <class 'int'>

In [8]:
a=45
print(a,"is int?",isinstance(45,int))

45 is int? True

In [9]:
#string datatype

name="Devanshi Patel"
print(name)
print(name[0])
print(name[2:6])
print(name[:6])
print(name[3:])
print(name*2)

Devanshi Patel
D
vans
Devans
anshi Patel
Devanshi PatelDevanshi Patel

In [10]:
#list datatype
list1=[34,23.8,'meena']
print(list1)
print(list1[2])

[34, 23.8, 'meena']
meena

In [11]:
#tupple datatype
tuple1=[30,89,44.6,'rima','shah']
print(tuple1)

[30, 89, 44.6, 'rima', 'shah']

In [12]:
#dictionary
d={1:20,2:'Devanshi',8:'happy',a:'world'}
print(d[1])
print(d[8])

20
happy